.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
    padding-top: 0;
}

.heading {
    font-weight: bold;
}

.toolbar {
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.colors {
    display: flex;
    padding: 0 30px;
    gap: 20px;
}

.colors .color {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: #239ce2;
    cursor: pointer;
}

.colors .active {
    border: 2px solid #000;
}

.toolbar button {
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #239ce2;
    color: #fff;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

@media(max-width: 620px) {
    .toolbar {
        flex-direction: column;
    }
}

@media(max-width: 340px) {
    .colors .color {
        height: 24px;
        width: 24px;
    }

    .toolbar button {
        padding: 5px 13px;
    }
}