.colors .active {
    border: 2px solid #000;
}

.colorBtn {
    border: none !important;
}

.downloadBtn {
    background-color: #239ce2 !important;
    color: #fff !important;
    text-decoration: none !important;
    outline: 0 !important;
    box-shadow: none !important;
    border: none !important;
    font-weight: bold !important;
    letter-spacing: 1px !important;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

@media(max-width: 767px) {
    .margin {
        margin-top: 2rem !important;
    }
}