.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 50px 30px;
    gap: 30px;
    background-color: rgb(238, 252, 255);
}

.container .heading {
    margin: 0 auto;
    max-width: 500px;
    color: #000;
    letter-spacing: 1px;
}

.heading span {
    background-clip: text;
    background-image: linear-gradient(to right, #239ce2, #1369b9);
    color: transparent;
}

.right img {
    width: 100%;
    max-width: 100%;
    height: auto;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    animation: zoom 10s linear infinite alternate-reverse;
}

@media (max-width: 820px) {
    .container {
        flex-direction: column-reverse;
    }
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}